<% if @user %>
  <h1>"<%= @user.username %>, welcome to your Game of TenThousand"</h1>
  <%= link_to 'Log out', login_path(@user), :method => :delete %>
<% else %>
  <h1>"Welcome to the Game of TenThousand"</h1>
  <%= link_to 'Register', new_user_path %>
<% end %>
