<h1>TenThousand is a fun dice game!</h1>

<h3>These are the base methods of scoring:</h3>
<div>
  <ul>
    <li class="odd">Each ⚄ is worth 50 points, each ⚀ is worth 100 points.</li>
    <li class="even">Three of a kind ⚁ ⚁ ⚁ are worth 100 points times the number rolled (so ⚁ ⚁ ⚁ = 200), except for three ones which are worth 1000 points.</li>
    <li class="odd">If four, five, or six of a kind are rolled, each additional die is worth double the three of a kind score. This makes the highest possible score in a single roll 8000 for six ones (1000 for three ones, doubled 3 times).</li>
    <li class="even">A six dice straight ⚀ ⚁ ⚂ ⚃ ⚄ ⚅ is worth 1500 points.</li>
    <li class="odd">Three pair ⚁ ⚁ ⚃ ⚃ ⚅ ⚅ are worth 750 points.</li>
    <li class="even">Dice are scored at the time they are rolled, so three or more of a kind, straights and three pairs must be rolled simultaneously.</li>
    <li class="odd">Instructions adapted from <a href="http://en.wikipedia.org/wiki/Dice_10000">Wikipedia</a></li>
</ul>

</div>
<%= link_to 'Let\'s Play!', '/games', :method => :post %>
